# manufacturer specific DEV tools (see Readme.md)
other/andor
other/flaticon
other/igor-exchange
other/nkt
other/pi
other/thorlabs
other/velleman

# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe

# Metadata
*.aliases
*.lvlps

# VIM files
*~